<ion-grid>
  <ion-row>
    <ion-col class="logo-login">
      
    </ion-col>
  </ion-row>
  <ion-row class="box-login">
    <ion-col align-self-center size-md="6" size-lg="4" size-xs="12">
      <div padding>
        <ion-item>
          <ion-input type="text" placeholder="Username"></ion-input>
        </ion-item>


        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>


      <div padding>
        <ion-button size="large" href="/folder/Home" expand="block">Login</ion-button>
      </div>
    </ion-col>
  </ion-row>