<ion-grid>
  <ion-row>
    <ion-col size-md="12" size-lg="12" size-xs="12" class="loginLogo">
      <img src="../../../assets/Mbx.png" />
    </ion-col>
  </ion-row>
  <form [formGroup]="loginForm" >
    <ion-row class="box-login">
      <ion-col align-self-center size-md="6" size-lg="4" size-xs="12">
        <ion-item lines="none" class="inputLogin">
          <ion-input
            formControlName="userName"
            type="text"
            placeholder="E-mail"
          ></ion-input>
          <ion-label
            *ngIf="loginForm.get('userName').errors?.email || loginForm.get('userName').value == ''"
            style="color: red; text-align: left"
            floating
            >*</ion-label
          >
        </ion-item>
        <ion-label *ngIf="" style="color:red">E-mail de cadastro incorreto</ion-label>

        <ion-item lines="none" class="inputLogin">
          <ion-input
            formControlName="password"
            type="password"
            style="border-bottom: 0px !important"
            placeholder="Senha(6 dígitos)"
          ></ion-input>
          <ion-label
            *ngIf="loginForm.get('password').errors"
            style="color: red; text-align: left"
            floating
            >*</ion-label
          >
        </ion-item>
        <p class="forgotPasswordRoute"><a href="#">Esqueceu sua senha?</a></p>
        <ion-button size="large" (click)="login()" expand="block"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <ion-footer [ngClass]="{'testeAnimacaoShow': returnError === true }" class="ion-no-border testeAnimacao">
    <ion-col class="errorMsg ">
      <ion-toolbar class="errorMsgFooter ">
        <ion-title class="msgErro">{{errorMessage}}</ion-title>
      </ion-toolbar>
    </ion-col>
  </ion-footer>
</ion-grid>
