app-login {}
  $white-color: #fff;
  $mbx-orange-color:#F5833B;
  $mbx-blue-color: #1E3964;
  $height100: 100%;


  img {
    width: 324px;
    padding-top:75px;
  }

  p{
    a{
      color:white;
    }
  }


  .loginLogo {
    text-align: center;
    height:180px;
  }

  .inputLogin {    
      border-radius:20px;
      margin:10px 50px 10px 50px;    
      
  }

  ion-item {
    --highlight-color-focused: none;
  }

  ion-grid {
    width: 100%;
    height: $height100;
    background: $mbx-blue-color;
  }

  .title-login {
      display:flex;
      justify-content:center;
      text-align:center;
  }

  .box-login {
    display:flex;
    justify-content: center;
    text-align:center;
    height:65vh;
    padding-bottom:10px;
  }

 
  .forgotPasswordRoute {
    text-align: right;
    padding-right:30px;
    font-size: 12px;
  }

  ion-button {
    font-weight: 300;
    width: 300px;
    display:inline-grid
  }

  ion-toolbar {
    border-radius:30px;
    color:white;
    --background :red;
  }
  
  .msgErro{
    font-size:12px;
  }

  .errorMsg{
    display:flex;
    justify-content: center;

  }

  .testeAnimacao{
    visibility:hidden;
  }

  .testeAnimacaoShow{
    visibility: visible;
  }

  .errorMsgFooter{
    text-align:center;    
    width:100%;
  }

  @media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
      background: $mbx-blue-color;
    }
    ion-col {
      border: none;
    }

    .inputLogin {
      margin: 10px 0px 10px 0px;    
    }
 
    .box-login {
        display:flex;
        justify-content: center;
        height:60vh;       
        text-align:center;  
        padding-bottom:10px;
      }

      .forgotPasswordRoute {
        text-align: right;
        padding-right:0px;
        font-size: 12px;
      }

      .errorMsgFooter{
        text-align:center;    
        width:320px;
      }
  
}
