app-login {}
  $white-color: #fff;
  $mbx-orange-color:#F5833B;
  $mbx-blue-color: #1E3964;
  $height100: 100%;


  img {
    width: 200px;
    height: 240px;
  }

  .loginLogo {
    text-align: center;
  }

  .inputLogin {    
      border-radius:20px;
      margin-bottom:10px;
  }

  ion-item {
    --highlight-color-focused: none;
  }

  ion-grid {
    width: 100%;
    height: $height100;
    background: orange;
  }

  .title-login {
      display:flex;
      justify-content:center;
      text-align:center;
  }

  .box-login {
    display:flex;
    justify-content: center;
    text-align:center;
    padding-bottom:10px;
  }

 

  ion-button {
    font-weight: 300;
  }

  @media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
      background: orange;
    }
    ion-col {
      border: none;
    }

  

    .box-login {
        display:flex;
        justify-content: center;
        height:20vh;       
        text-align:center;  
        padding-bottom:10px;
      }

  
}
